@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ChatRoom</h1>
    <p>Pulsa el siguiente boton para que te lleve a los distintos grupos</p>
    <a class="btn btn-primary" href="/chat/index">Ir a los grupos</a>
</div>
